# Ignore Node.js dependencies and build artifacts in the frontend folder
frontend/node_modules
frontend/build
frontend/.env
frontend/npm-debug.log
frontend/yarn-error.log

# Ignore IntelliJ IDEA files in both frontend and backend folders
**/back-end/.idea/

# Ignore Java Maven build artifacts in the backend folder
back-end/target
back-end/*.iml
back-end/*.log
back-end/.idea/
